<footer class="footer-wrapper">
    <div class="footer-inner animate-footer d-flex justify-content-between align-items-center
                px-4 py-3 rounded shadow text-white fs-6" style="background: linear-gradient(135deg, #667eea, #764ba2);">

        <span>Department of Artificial Intelligence & Machine Learning</span>
        <span>By Abhinav Potharaju and Vineet Raj</span>

    </div>
</footer>
