<%- layout('layouts/boilerplate.ejs') %>

<div class="auth-page">
    <div class="row m-0">

        <!-- AUTH OPTIONS -->
        <div class="col-md-6 d-flex justify-content-center admin-panel">
            <div class="auth-card">
                <h3 class="text-center mb-4 text-white">Login</h3>
                <a href="/login" class="icon-circle admin-icon">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </a>

                <br><br>

                <h3 class="text-center mb-4 text-white">Signup</h3>
                <a href="/signup" class="icon-circle user-icon">
                    <i class="fa-solid fa-user-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>
