<%- layout("layouts/boilerplate.ejs") %>

    <div class="container mt-4">
        <h2>Create Product</h2>

        <form action="/products" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label>Stock Code</label>
                <input name="stockcode" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Description</label>
                <textarea name="description" class="form-control" required></textarea>
            </div>

            <div class="mb-3">
                <label>Unit Price</label>
                <input name="unit_price" type="number" step="0.01" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Quantity</label>
                <input type="number" name="quantity" class="form-control" min="0" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Category</label>
                <select name="catid" class="form-control" required>
                    <option value="">-- Select Category --</option>
                    <option value="1">Clothes</option>
                    <option value="2">Electronics</option>
                    <option value="3">Decoration</option>
                </select>
            </div>


            <div class="mb-3">
                <label>Product Image</label>
                <input name="image" type="file" class="form-control" accept="image/*">
            </div>

            <button class="btn btn-success">Create Product</button>
        </form>
    </div>